-f https://download.pytorch.org/whl/torch_stable.html
torch==2.0.1+cu117
torchvision==0.15.2+cu117
lightning>=2.0
torchmetrics==1.2.0
numpy<2
pandas
h5py
yacs
omegaconf
einops
fvcore
scipy
scikit-learn
ninja
pillow
opencv-python
imageio
scikit-image
matplotlib
tensorboard
diffusers==0.13.0
taming-transformers==0.0.1